@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Photo Kiosk</h1>
        Display photos with names in an easy-to-use web page with picture zooming and one-touch lookups!
    </div>
</div>